{% extends "layout.html" %} 
{% block content %}
<div class="user-info-small">
      <p style="font-size: 30px">
        <b>{{current_user.username}}</b>
      </p>
    <div class="vertical-menu">
        <a href="/diagnosisHistory">Diagnosis & Treatment  History</a>
        <button class="dropdown-btn">Medical Records
          <i class="fa fa-caret-down"></i>
        </button>
            <div id="dropdown-container">
              <a href="/uploadRecords">Upload Medical Records</a>
              <a href="/viewRecords">View Medical Records</a>
              <a href="/shareRecords">Share Medical Records</a>
            </div>
        <a href="/resources" style="text-align: center;">Health Resources</a>
        <br><br><br><br>
    </div>
</div>
{% endblock content %}


