
{% extends "layout.html" %} 
{% block content %}

        <div class="user-info-small">
              <p style="color: black; font-size: 30px;">
                <b>{{current_user.username}}</b>
              </p>

            <div class="vertical-menu">
                <a href="/report">Generate Report</a>
                <button class="dropdown-btn">Medical Records
                  <i class="fa fa-caret-down"></i>
                </button>
                    <div class="dropdown-container">
                      <a href="/viewRecords">View Medical Records</a>
                      <a href="/shareRecords">Share Medical Records</a>
                    </div>
                <a href="/resources">Health Resources</a>
            </div>
        </div>

{% endblock content %}


