{% extends "layout.html" %}
{% block content %}
<div class="data-table-history">
    <h3 style="text-align: center">Your Diagnosis History</h3>
    Select from the table below <br>
    <form method="POST" action="/generateReport">
        <button class="btn btn-primary" type="submit" style="margin-bottom: 15px; margin-top: 10px;" id="report" disabled="disabled" data-toggle="tooltip" data-placement="top" title="Select a row">Create Report</button>
        <table id="viewRecordsTable" class="table table-bordered table-sm" cellspacing="0" width="100%">
            <thead style="font-weight: bold">
            <tr>
                <th style="width:5%;"></th>
                <th>Diagnosis Time</th>
                <th style="width:20%;">Symptoms Reported</th>
                <th>Condition Predicted</th>
                <th>Treatment Options - View report for details</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td><input type="checkbox" name="checked" value="{{record.recordID}}" class="check"/></td>
                    <td>{{record.timestamp}}</td>
                    <td>
                        <ul style="list-style: none; padding-left: 0;">
                            {% for symptom in record.symptoms %}
                                <li>{{ symptom }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {{ record.illness }}
                    </td>
                    <td>
                        {% if record.none %}
                            No natural treatment options available
                        {% else %}
                        <table class="table table-striped table-sm" cellspacing="0" width="100%">
                            {% for remedy in record.treatments %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{remedy.treatment}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% endif %}
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm rounded-0" onclick="confirmDeleteRecord(this, '{{record.recordID}}')" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock content %}