{% extends "layout.html" %}
{% block content %}

<div class="diagnosisResults">  
	<h2>Hello {{name}}! These are your results:</h2>

	<br> 
	Sex: {{sex}}
	
	<br>
	Age: {{age}}

	<br><br>

	<h3>Illness:</h3>
	Most Likely: <b>{{diagOne}}</b>

	{% if diagTwo %}
		<br>
		Lesser Likely: <b>{{diagTwo}}</b>
		{% if diagThree %}
			or <b>{{diagThree}}</b> 
		{% endif %}
	{% endif %}

	<br><br>
	<h3 style="margin-bottom: 20px;">Natural Treatments (for most likely illness)</h3>
	{% if treatments %}
		<ol>
		    {% for result in treatments %}
		        <li>
		            {{ result.treatment }}
		        </li>
		        <ul>
		            {% for option in result.options %}
		                <li>
		                    {{option}}
		                </li>
		            {% endfor %}
		        </ul>
		        <br>
		    {% endfor %}
		</ol>
	{% else %}
		{{blank}}
	{% endif %}
	
</div>

{% endblock content %}