{% extends "layout.html" %}
{% block content %}
	<h3 style="margin-left: 40px; margin-top: 30px; margin-right: 20px;"> Here's a list of some excellent articles, websites, and <i>natural</i> supplement stores dedicated to health and fitness: </h3>
	<ul style="margin-left: 40px; margin-top: 30px; margin-right: 20px; font-size: 20px">
		<li style="margin-bottom: 20px;">
	        <a href="https://draxe.com/health/"><b>Dr. Josh Axe</b>'s Amazing Website on Nutrition and Health!</a>
	    </li>
	    <li style="margin-bottom: 20px;">
	        <a href="https://www.verywellhealth.com/"><b>Verywell Health</b>: an award-winning online resource for reliable, understandable,<br> and up-to-date health information on the medical topics that matter most to you.</a>
	    </li>
	    <li style="margin-bottom: 20px;">
	        <a href="https://www.healthline.com/"><b>Healthline</b>--covers all facets of physical and mental health openly and objectively.</a>
	    </li>
	    <li style="margin-bottom: 20px;">
	        <a href="https://ancientnutrition.com/"><b>Ancient Nutrition</b>: Ancient Nutrients in a Modern Form!</a>
	    </li>
	    
	</ul>
{% endblock content %}