{% extends "layout.html" %}
{% block content %}
	<h3 style="margin-left: 40px; margin-top: 30px; margin-right: 20px;"> Here's a list of some excellent articles, websites, and <i>natural</i> supplement stores dedicated to health and fitness: </h3>
	<ul style="margin-left: 40px; margin-top: 30px; margin-right: 20px; font-size: 20px">
		<li style="margin-bottom: 20px;">
	        <a href="https://draxe.com/health/"><b>Dr. Josh Axe</b>'s Amazing Website on Nutrition and Health!</a>
	    </li>
	    <li style="margin-bottom: 20px;">
	        <a href="https://www.verywellhealth.com/"><b>Verywell Health</b>: an award-winning online resource for reliable, understandable, and up-to-date <br>health information on the medical topics that matter most to you.</a>
	    </li>
	    <li style="margin-bottom: 20px;">
	        <a href="https://www.healthline.com/"><b>Healthline</b>--covers all facets of physical and mental health openly and objectively.</a>
	    </li>
	    <li style="margin-bottom: 20px;">
	        <a href="https://ancientnutrition.com/"><b>Ancient Nutrition</b>: Ancient Nutrients in a Modern Form! (Supplement Store)</a>
	    </li>
	    <li style="margin-bottom: 20px;">
	        <a href="https://www.health.harvard.edu/"><b>Harvard Health Publishing</b>: Articles on healthy lifestyle practices from Harvard Medical School</a>
	    </li>
	    <li style="margin-bottom: 20px;">
	        <a href="https://www.fitnessblender.com/"><b>Fitness Blender</b>: free full-length workout videos, workout routines, healthy recipes, and more . . .
			</a>
	    </li>
	    <li style="margin-bottom: 20px;">
	        <a href="https://www.livestrong.com/"><b>Livestrong.com</b>: offers diet, nutrition, and fitness tips for a healthier lifestyle
			</a>
	    </li>
	    <li style="margin-bottom: 20px;">
	        <a href="https://www.healthline.com/nutrition/herbal-medicine"><b>Herbal Medicine</b>: an article on 9 of the World’s Most Popular Herbal Medicines
			</a>
	    </li>
	    <li style="margin-bottom: 20px;">
	        <a href="https://www.naturalmedicinejournal.com/"><b>Natural Medicine Journal</b>: a cutting-edge electronic journal and website for integrative healthcare <br>practitioners, students, faculty, and anyone interested in the field of natural medicine.
			</a>
	    </li>
	</ul>
	<br><br>
{% endblock content %}