{% extends "layout.html" %}
{% block content %}
<div class ="content-section">
    <form method="POST" action="" enctype="multipart/form-data"> <!-- Make a request to the same page  -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend style="text-align: center;">Upload Document</legend>
            <br>
            <div class="form-group">
                {{ form.document.label(class="form-control-label")}}
                {% if form.document.errors %}
                    {{ form.document(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.document.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.document(class="form-control form-control-lg")}} <!-- input field is valid -->
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label")}}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg")}} <!-- input field is valid -->
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <br>
        To view all of your uploaded documents go to <a href="/viewRecords">View Medical Records</a>
        <br>
        <br>
        <small class="text-muted">The Natural Cure Application is HIPAA compliant. Your privacy is our top-priority. For more information on HIPAA, visit <a href="https://www.hhs.gov/hipaa/index.html">hhs.gov</a>.</small>
    </form>
</div>
{% endblock content %}